// config file for running sarek pipeline on KUACC-HPC

singularity {
	enabled = true
	autoMounts = true
	cacheDir = '/kuttam_fg/refdata/zhuk/singularity_imgs/'
}

process {
	executor = 'slurm'
	queue = { task.time <= 2.h ? 'short' : 'mid' }
	maxRetries = 3
	errorStrategy = { task.attempt <=3 ? 'retry' : 'finish' }
	cache = 'lenient'
}

executor {
	name = 'slurm'
	submitRateLimit = '10sec'
    queueSize = 20
    pollInterval = '5sec'
	queueGlobalStatus = true
}

params {
  	config_profile_description = "KUACC HPC profile"
	config_profile_contact = "Sergei Zhuk (@szhuk)"
	max_memory = 400.GB
	max_cpus = 40
	max_time = 24.h
}
