docker {
    enabled = true
    runOptions = '-v /mnt/hdd/nextflow_dir/workspace/REF/VEP_108_cache:/opt/vep/.vep:ro \
                  -v /mnt/hdd/nextflow_dir/workspace/REF/VEP_108_cache/Plugins:/opt/vep/src/ensembl-vep/plugins:ro \
                  -v /mnt/hdd/nextflow_dir/workspace/REF/VEP_cache:/opt/vep/cache:ro \
                  --user $(id -u):$(id -g)'
}

params {
    vep_cache = "/opt/vep/.vep"
    vep_plugins = "/opt/vep/src/ensembl-vep/plugins"
    cadd_snps = "/opt/vep/cache/Plugins/CADD_whole_genome_SNVs.tsv.gz"
    cadd_indels = "/opt/vep/cache/Plugins/CADD_gnomad.genomes.r3.0.indel.tsv.gz"
    human_ancestor_fa = "/opt/vep/cache/Plugins/human_ancestor.fa.gz"
    conservation_file = "/opt/vep/cache/Plugins/phylocsf_gerp.sql"
    clinvar = "/opt/vep/cache/Plugins/clinvar_20240528.vcf.gz"
    topmed = "/opt/vep/cache/Plugins/TOPMED_GRCh38_20180418.vcf.gz"
    dbnsfp_file = "/opt/vep/cache/Plugins/dbNSFP4.2a_grch38.gz"
    replacement_logic = "/opt/vep/cache/Plugins/dbNSFP_replacement_logic.txt"
    dbscsnv_file = "/opt/vep/cache/Plugins/dbscSNV1.1_GRCh38.txt.gz"
    spliceai_snv = "/opt/vep/cache/Plugins/spliceai_scores.raw.snv.hg38.vcf.gz"
    spliceai_indel = "/opt/vep/cache/Plugins/spliceai_scores.raw.indel.hg38.vcf.gz"
}